# منع رفع مجلد المكتبات الضخم (إلزامي)
node_modules/

# منع رفع ملفات السيرفر المؤقتة أو سجلات الأخطاء
npm-debug.log*
yarn-debug.log*
yarn-error.log*
.DS_Store

# اختياري: إذا كنت لا تريد رفع الفواتير والمنتجات الحالية وتريد أن تبدأ بنسخة فارغة على سيرفر Render
# orders.json
# users.json
# db.json
